.idea
.DS_Store
src/
demos/.ipynb_checkpoints
demos2020/.ipynb_checkpoints
demos2021/.ipynb_checkpoints

demos/runs/
demos2020/runs/
demos2021/runs/
venv/

*.xml
_scratch/
scratch.py
__pycache__/

runs/
demos2022/BNSeg/src/__pycache__
events.out*

